h1{
    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 85px;
    font-size: 340%;
    margin-top: 50px;
    color: rgba(74, 70, 70, 0.768);
}

.lab{

    margin-right: 275px;
    font-size: 23px;
    color: rgba(30, 28, 28, 0.834);
    font-family: 'Times New Roman', Times, serif;
    
}


.in{

    padding: 10px;
    margin: 20px;
    width: 350px;
    border-radius: 18px;
    background-color: rgba(246, 242, 242, 0.693);
}

#log{

    height: 40px;
    width: 150px;
    border-radius: 120px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(246, 242, 242, 0.693);
    font-size: 16px;
}
#log:hover{
    height: 40px;
    width: 150px;
    border-radius: 120px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(41, 131, 240, 0.693);
    color: rgb(238, 228, 228);
    stroke: rgb(57, 183, 217);
    font-size: 16px;
}

#Fpass{

    padding-left: 750px;
    margin-top: -18px;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(240, 248, 255, 0.722);
    text-decoration: none;
}

#Rem{


   margin-right: 280px;
   color: rgba(240, 248, 255, 0.722);

}

#user{
    color: rgba(57, 55, 55, 0.893);
}

body{
    background-image: url(Assets/pexels-kelly-rabie-1878095.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}





